* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    
}

body {
    background-color: #f5f8fc;
    color: #111;
    line-height: 1.6;
}

.navbar{
    width: 100%;
    padding: 20px 40px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
}

.logo {
    font-size: 20px;
    font-weight: 600;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}   

.inicio {
    padding: 100px 40px;
}

.inicio h1{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
}

.inicio span {
    color: #0066FF
}

.descripcion {
    width: 60%;
    font-size: 20px;
    margin-bottom: 40px;
}

.botones{
    display: flex;
    gap: 20px;
}

.btn-proy {
    padding: 15px 25px;
    background-color: #0066FF;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
}

.btn-cont {
    padding: 15px 30px;
    color: #000;
    border: 1.5px solid #ddd;
    border-radius: 8px;
    text-decoration: none;
}

.flecha-abajo {
    font-size: 32px;
    margin-top: 80px;
    text-align: center;
}

.sobre-mi {
    padding: 100px 40px;
}

.sobre-mi h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.sobre-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}

.texto a {
    color: #0066FF;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #e5e5e5;
}

.card h4 {
    margin-bottom: 10px;
}

.card ul {
    list-style: none;
}

.card li {
    margin-bottom: 6px;
}

.proyectos {
    padding: 100px 40px;
}

.proyectos h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.proyecto {
    background: white;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
}

.logo-proyecto {
    width: 90px;
}

.rol {
    background: #eaf2ff;
    color: #2a64ff;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 14px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.proyecto .info {
    flex: 1;
}

.año {
    font-weight: 600;
}

.contacto {
    padding: 100px 40px;
    text-align: center;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.arrow {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #0077ff;
}

.contact-card {
    width: 400px;
    background: white;
    padding: 40px;
    border-radius: 15px;
    border: 1px solid #ddd;
}

.contact-icon {
    font-size: 50px;
    margin-bottom: 10px;
}

/* CARRUSEL CONTACTO */
.carousel-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.carousel-wrapper {
    width: 350px;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.4s ease;
}

.slide {
    min-width: 350px;
    background: white;
    border: 1px solid #ddd;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
}

.carousel-btn {
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: #0077ff;
}

.carousel-btn:hover {
    opacity: 0.7;
}
